@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

// Variables
$clr-primary-1: #ffffff;
$clr-primary-2: hsl(217, 12%, 63%);
$clr-primary-3: hsl(213, 19%, 18%);
$clr-orange: hsl(25, 97%, 53%);

//Mixins
@mixin colors($background, $color) {
  background-color: $background;
  color: $color;
}

@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

//SCSS
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(216, 12%, 8%);
  font-family: "Overpass", sans-serif;
  height: 100vh;
  margin: 0;
  @include flex();
  flex-wrap: wrap;
  font-size: 15rpx;
}

.container {
  width: 25rem;
  height: 25rem;
  margin: 0 auto;
  background: linear-gradient(
    20deg,
    hsl(215, 23%, 14%) 44%,
    $clr-primary-3 100%
  );
  border-radius: 1.25rem;
  padding: 1.875rem;
}

.rating-form {
  img {
    background-color: $clr-primary-3;
    padding: 0.875rem;
    border-radius: 50%;
    margin-bottom: 1.8rem;
  }
}

h1 {
  color: $clr-primary-1;
  margin-bottom: 1rem;
}

p {
  color: $clr-primary-2;
  margin-bottom: 0.625rem;
}

.ratings {
  display: flex;
  justify-content: space-between;
  margin: 1.563rem 0;
  input {
    display: none;
  }
  label {
    @include colors($clr-primary-3, $clr-primary-2);
    @include flex();
    border-radius: 50%;
    width: 3.438rem;
    height: 3.438rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      @include colors($clr-orange, $clr-primary-3);
    }
  }
  input:checked + label {
    @include colors($clr-primary-1, $clr-primary-3);
  }
}

.submit-btn {
  @include colors($clr-orange, $clr-primary-3);
  width: 100%;
  border: none;
  border-radius: 1.25rem;
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.625rem 1.25rem;
  top: 100%;
  cursor: pointer;
  &:hover {
    @include colors($clr-primary-1, $clr-primary-3);
  }
}

.thank-you {
  text-align: center;
  img {
    margin: 0.313rem 0;
  }
}

.rating-select {
  @include colors($clr-primary-3, $clr-orange);
  border-radius: 1.25rem;
  width: fit-content;
  padding: 0.5rem 0.9rem;
  margin: 1.875rem auto;
}

.hidden {
  display: none;
}

.attribution {
  flex-basis: 100%;
  font-size: 11px;
  text-align: center;
  color: $clr-primary-1;
  a {
    color: hsl(228, 45%, 44%);
  }
}
