@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

// Variables
$clr-primary-1: #ffffff;
$clr-primary-2: hsl(217, 12%, 63%);
$clr-primary-3: hsl(213, 19%, 18%);
$clr-orange: hsl(25, 97%, 53%);

@mixin colors($background, $color) {
  background-color: $background;
  color: $color;
}

@mixin flex(){
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(216, 12%, 8%);
  font-family: "Overpass", sans-serif;
  height: 100vh;
  margin: 0;
  @include flex();
  flex-wrap: wrap;
  font-size: 16px;
}

.container {
  max-width: 425px;
  height: 425px;
  margin: 0 auto;
  background: linear-gradient(
    20deg,
    hsl(215, 23%, 14%) 44%,
    $clr-primary-3 100%
  );
  border-radius: 20px;
  padding: 30px;
}

.rating-form{
  img {
    background-color: $clr-primary-3;
    padding: 14px;
    border-radius: 50%;
    margin-bottom: 32px;
  }
}

h1 {
  color: $clr-primary-1;
  margin-bottom: 10px;
}

p {
  color: $clr-primary-2;
  margin-bottom: 1rem;
}

.ratings {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
  input {
    display: none;
  }
  label {
    @include colors($clr-primary-3, $clr-primary-2);
    @include flex();
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      @include colors($clr-orange, $clr-primary-3);
    }
  }
  input:checked + label{
    @include colors($clr-primary-1, $clr-primary-3);
  }
}

.submit-btn{
  @include colors($clr-orange, $clr-primary-3);
  width: 100%;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 20px;
  top: 100%;
  cursor: pointer;
  &:hover{
    @include colors($clr-primary-1, $clr-primary-3);
  }
}

.thank-you{
  text-align: center;
  img{
    margin: 10px 0;
  }
}

.rating-select{
  @include colors($clr-primary-3, $clr-orange);
  border-radius: 20px;
  width: fit-content;
  padding: 5px 10px;
  margin: 30px auto;
}

.hidden{
  display: none;
}

.attribution {
  flex-basis: 100%;
  font-size: 11px;
  text-align: center;
  color: $clr-primary-1;
  a {
    color: hsl(228, 45%, 44%);
  }
}
