@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

// Variables
$clr-primary-1: #ffffff;
$clr-primary-2: hsl(217, 12%, 63%);
$clr-primary-3: hsl(213, 19%, 18%);
$clr-orange: hsl(25, 97%, 53%);

@mixin colors() {
  background-color: $clr-primary-3;
  
  
}

@mixin text-align() {
  text-align: center;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(216, 12%, 8%);
  font-family: "Overpass", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.container {
  max-width: 425px;
  height: 425px;
  margin: 0 auto;
  background: linear-gradient(
    20deg,
    hsl(215, 23%, 14%) 44%,
    $clr-primary-3 100%
  );
  border-radius: 20px;
  padding: 30px;
  img {
    padding: 0.9rem;
    border-radius: 50%;
    background-color: $clr-primary-3;
    margin-bottom: 2rem;
  }
}

h1 {
  color: $clr-primary-1;
  margin-bottom: 0.6rem;
}

p {
  color: $clr-primary-2;
  margin-bottom: 1rem;
}
.ratings {
  display: flex;
  justify-content: space-between;
  input {
    display: none;
  }
  label {
    background-color: $clr-primary-3;
    color: $clr-primary-2;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: $clr-orange;
      color: $clr-primary-3;
    }
    &:checked {
      background-color: $clr-primary-1;
      color: $clr-primary-3;
    }
  }
}

.attribution {
  flex-basis: 100%;
  font-size: 11px;
  text-align: center;
  color: $clr-primary-1;
  a {
    color: hsl(228, 45%, 44%);
  }
}
